{% extends "layout.html" %}

{% block titulo %}Page 1 - Projetos para o futuro{% endblock %}

{% block conteudo %}
    <h1>Projetos para o futuro</h1>
    <p>Tenho vários planos para minha carreira na área de tecnologia:</p>
    <ul>
        <li>Me aprofundar em desenvolvimento back-end com Python e C#</li>
        <li>Criar aplicativos mobile com Flutter</li>
        <li>Desenvolver projetos próprios e publicá-los no meu GitHub</li>
        <li>Conquistar um estágio na área de desenvolvimento</li>
        <li>Cursar faculdade na área de tecnologia</li>
    </ul>
{% endblock %}